@model Bridgebooks.Models.SEOViewModel

@{
    ViewBag.Title = "Home";
}

@section AdditionalMeta
{
    <meta name="description" content="@Model.Description" />
    <link rel="canonical" href="@Model.Canonical" />
}

<section class="home">
    <div class="background-image"></div>
    <h1><q>Bridging the Gap Between Receipt and Report</q></h1>
</section>

<section class="callouts">
    <div>
        <i class="fas fa-clock"></i>
        <h4>Efficient</h4>
        <p>We maximize the services and tools provided for you so you can run your business, at an affordable cost.</p>
    </div>

    <div>
        <i class="fas fa-check-circle"></i>
        <h4>Accurate</h4>
        <p>We strive to show due diligence in all areas and provide the most accurate and up to date information for our clients.</p>
    </div>

    <div>
        <i class="fas fa-hands-helping"></i>
        <h4>Helpful</h4>
        <p>We are available 24/7 to answer questions, run reports and provide the best customer service possible.</p>
    </div>
</section>