@{
    ViewBag.Title = "HTML5 Element Test Page";
}

<main>
    <section class="content">
        <h1>Introducing... Bridge Books, LLC</h1>

        <p>After many years of working within the financial, accounting and tax world, I have seen a growing need of small businesses and non-profits for sound accounting and bookkeeping services. I have found that many people and small businesses have most, but not all, of the tools they need to efficiently run the financial side of a business and to have a seamless transition from one year to the next. This includes general accounting and reconciliation, reports and forms for various tax filing requirements, streamlined invoicing and payroll services, etc. There are many facets to running a business and/or non-profit and I want to be here to help you through it. Let Bridge Books, LLC take on the accounting and financial needs of your business with integrity and confidentiality so you can focus on what you do best…growing your business and serving your community!</p>
    </section>
</main>