@{
    ViewBag.Title = "Our Team";
}

@section AdditionalMeta
{
    <meta name="description" content="@Model.Description" />
    <link rel="canonical" href="@Model.Canonical" />
}

<section>
    <h1>Introducing Bridge Books, LLC</h1>
    <p>After many years of working within the financial, accounting and tax world, I have seen a growing need of small businesses and non-profits for sound accounting and bookkeeping services. I have found that many people and small businesses have most, but not all, of the tools they need to efficiently run the financial side of a business and to have a seamless transition from one year to the next. This includes general accounting and reconciliation, reports and forms for various tax filing requirements, streamlined invoicing and payroll services, etc. There are many facets to running a business and/or non-profit and I want to be here to help you through it. Let Bridge Books, LLC take on the accounting and financial needs of your business with integrity and confidentiality so you can focus on what you do best, growing your business and serving your community!</p>
</section>
<section>
    <h2>Meet our team!</h2>
    <article class="bio">
        <div class="image">
            <img src="~/Content/images/whitney.jpeg" width="276" height="386" alt="Owner" title="Owner" loading="lazy" />
        </div>
        <div class="content">
            <h3>Whitney Adams (Owner)</h3>
            <p>Whitney has spent the past 20 years working within the financial / HR industry in one capacity or another. From serving as the Financial Administrator for a local church for 10 years, to bookkeeping for small businesses, tax preparation, payroll management, operations and everything in between. She has a desire to help others in an area she is most passionate about and to help take the complication out of the accounting and financial side of small business. She previously served a 4-year term as a Seward County Commissioner where she was able to put her budgeting, financial understanding, and expertise to work.</p>
            <p>Whitney and her husband Bill live in Lincoln with their 3 children, and she is currently focusing on growing Bridge Books as well as serving as a Tax Specialist for H&R Block.</p>
        </div>
    </article>
    <article class="bio reverse">
        <div class="image">
            <img src="~/Content/images/lori.jpg" widht="176" height="380" alt="Bookkeeper" title="Bookkeeper" loading="lazy" />
        </div>
        <div class="content">
            <h3>Lori Cox (Bookkeeper & Tax Specialist)</h3>
            <p>Lori has been the co-owner and bookkeeper of J&L Farms for 20+ years. She also has experience in managing truck books for CFP, Inc. and was co-owner and bookkeeper of Innovative Designs from 2005-2018. She currently owns and operates Chicken Scratch Print Shop and Little Red Hen consignment store in addition to her farm responsibilities. She recently added tax preparation to her resume. She enjoys turning a messy pile of receipts into an orderly spreadsheet of information and looks forward to helping you get your books in order.</p>
            <p>Lori has been married for 40+ years to her husband John and they have 4 children and 11 grandchildren.</p>
        </div>
    </article>
</section>