@{
    ViewBag.Title = "Our Team";
}

@section AdditionalMeta
{
    <meta name="description" content="@Model.Description" />
    <link rel="canonical" href="@Model.Canonical" />
}

<section>
    <h1>Introducing Bridge Books, LLC</h1>

    <p>After many years of working within the financial, accounting and tax world, I have seen a growing need of small businesses and non-profits for sound accounting and bookkeeping services. I have found that many people and small businesses have most, but not all, of the tools they need to efficiently run the financial side of a business and to have a seamless transition from one year to the next. This includes general accounting and reconciliation, reports and forms for various tax filing requirements, streamlined invoicing and payroll services, etc. There are many facets to running a business and/or non-profit and I want to be here to help you through it. Let Bridge Books, LLC take on the accounting and financial needs of your business with integrity and confidentiality so you can focus on what you do best, growing your business and serving your community!</p>
</section>

<section>
    <h2>Meet our team!</h2>

    <article class="bio">
        <div class="image">
            <img src="~/Content/images/whitney.jpg" alt="Owner" title="Owner" loading="lazy" />
        </div>
        <div class="content">
            <h3>Whitney Cox-Fleischman (Owner)</h3>
            <p>Whitney has spent the past 18 years working within the financial industry in one capacity or another. From serving as the Financial Administrator for a local church for 10 years, to bookkeeping for small businesses, tax preparation and everything in between. She has a desire to help others in an area she is most passionate about and to help take the complication out of the accounting and financial side of small business. She recently served a 4 year term as a Seward County Commissioner where she was able to put her budgeting and financial understanding and expertise to work.</p>
            <p>She lives with her son Ceden in Goehner and currently works as the interim Greenhouse Coordinator for BASF, as well as a Tax Specialist for H&R Block.</p>
        </div>
    </article>
    <article class="bio reverse">
        <div class="image">
            <img src="~/Content/images/lori.jpg" alt="Bookkeeper" title="Bookkeeper" loading="lazy" />
        </div>
        <div class="content">
            <h3>Lori Cox (Bookkeeper)</h3>
            <p>Lori has been the co-owner and bookkeeper of J&L Farms for 20 years. She also has experience in managing truck books for CFP, Inc. and was co-owner and bookkeeper of Innovative Designs from 2005-2018. She currently owns and operates the Chicken Scratch Print Shop and Little Red Hen consignment store in addition to her farm responsibilities. This last year she added tax preparation to her resume. She enjoys turning a messy pile of receipts into an orderly spreadsheet of information and looks forward to helping you get your books in order.</p>
            <p>Lori has been married for 40+ years to her husband John and they have 4 children and 9 grandkids.</p>
        </div>
    </article>
    <article class="bio">
        <div class="image">
            @*<img src="~/Content/images/lori.jpg" alt="Bookkeeper/Administrative Assistant" title="Bookkeeper/Administrative Assistant" loading="lazy" />*@
        </div>
        <div class="content">
            <h3>Melissa Meyer (Bookkeeper/Administrative Assistant)</h3>
            <p>Melissa lives in the Milford area with her husband Darin and son Zane, and has a stepdaughter that lives in NC pursuing her PhD in IO Pyschology. Melissa works part time for The Dressage Foundation as an Administratvive Assistant as well as helping Darin run their family business, Ackerman Rock and Gravel.</p>
            <p>Melissa has a background in business administration, bookkeeping and marketing while working at Clear Channel Communications, Pinnacle Sports Network, MediaWorks Advertising Agency, and Sterling Communications. In 2008 she decided to stay home and raise her son home educating Zane until 2018 when he enrolled at Milford Public School. Melissa is now pursuing a certificate to become a Pro Advisor for Quickbooks and taking classes in graphic design and website creation. Melissa has a passion to organize businesses and to watch them succeed.</p>
            <p>She has seamlessly taken over a number of administrative responsibilities for Bridge Books, LLC and is a critical part of the company's organization and success.</p>
        </div>
    </article>
    <article class="bio reverse">
        <div class="image">
            @*<img src="~/Content/images/lori.jpg" alt="Bookkeeper" title="Bookkeeper" loading="lazy" />*@
        </div>
        <div class="content">
            <h3>Erin Pankoke (Bookkeeper)</h3>
            <p>Erin is a sophomore at Northwest Missouri State University in Maryville Missouri, majoring in business management and marketing. She grew up working at her family's business, Beaver Hardware in beaver Crossing, Nebraska. Her job duties included running the cash register, making deposits, assisting with end of year expenses, and maintaining and managing inventory. She also works at BASF in the summer and helps with all aspects of the hybrid wheat research process.</p>
            <p>While at school she works as a cashier on campus where her job duties include balancing and securing cash drawers and is entrusted to handle student's and university bank deposits.</p>
            <p>She has a passion and desire to help others as much as possible with their financial needs. She recently joined the Bridge Books, LLC team to further her experience in finances and accounting and be able to work remotely around her busy school schedule.</p>
        </div>
    </article>
</section>