@{
    ViewBag.Title = "Services";
}

@section AdditionalMeta
{
    <meta name="description" content="@Model.Description" />
    <link rel="canonical" href="@Model.Canonical" />
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        $(function () {
            $("#accordion").accordion({
                collapsible: true,
                heightStyle: "content",
                icons: { "header": "fas fa-plus", "activeHeader": "fas fa-minus" }
            });
        });
    </script>
}

<section>

    <h1>Accounting and Financial Services</h1>

    <div id="accordion" class="ui-accordion ui-widget ui-helper-reset" role="tablist">

        <h2 class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active" role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="true" aria-expanded="true" tabindex="0">Accounting</h2>
        <div class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content ui-accordion-content-active" id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false" style="display: block;">
            <p>We will prepare customized and any desired financial statements for your specific business and industry. We specialize in small business accounting as well as non-profit accounting which can include contribution tracking and annual reporting. We will also reconcile your bank account and help create a simple internal recordkeeping system.</p>
        </div>

        <h2 class="ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons" role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="-1">Bookkeeping</h2>
        <div class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-4" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true" style="display: none;">
            <p>Our bookkeeping services offer business owners the convenience of an in-house bookkeeper without the worries of having an employee call in sick or having to pay out benefits. We can take care of accounts payable and receivable, create invoices, and send out statements, write checks, track vendor’s invoices and credits, and reconcile vendor statements.</p>
        </div>

        <h2 class="ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons" role="tab" id="ui-id-5" aria-controls="ui-id-6" aria-selected="false" aria-expanded="false" tabindex="-1">Payroll Services</h2>
        <div class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-6" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true" style="display: none;">
            <p>As many as a third of all employers make payroll errors, and roughly 40 percent of small businesses incur up to $1000 each year in IRS penalties. With our service, the only thing an employer has to do is figure hours and then e-mail or call that information to us and we process the payroll.  We can print checks or have it direct deposited into the employee’s bank account. The payroll service also includes handling the annual worker’s compensation audit and W-2 processing at the end of the year.</p>
        </div>

        <h2 class="ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons" role="tab" id="ui-id-7" aria-controls="ui-id-8" aria-selected="false" aria-expanded="false" tabindex="-1">Consulting</h2>
        <div class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-8" aria-labelledby="ui-id-7" role="tabpanel" aria-hidden="true" style="display: none;">
            <h4>Quickbooks / Software</h4>
            <p>We have 10+ years of experience in dealing with and supporting various versions of QuickBooks, Quicken and other financial programs.  We can assist you in accessing QuickBooks Online and have the system up-and-running in a short period of time. Utilizing a cloud-based program allows us to give you as little or as much access to your books as desired.</p>

            <h4>Business</h4>
            <p>Our business consulting programs are tailored and designed for you and your business or non-profit. We work with you on strategy, planning and problem solving, and assist you in developing business skills and knowledge. The topics can range from designing a business model or marketing plan, to creating and utilizing different forms and templates to optimize your business’s impact.</p>
        </div>

        <h2 class="ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons" role="tab" id="ui-id-11" aria-controls="ui-id-12" aria-selected="false" aria-expanded="false" tabindex="-1">Cash Flow Management</h2>
        <div class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-12" aria-labelledby="ui-id-11" role="tabpanel" aria-hidden="true" style="display: none;">
            <p>Cash flow management for a business is the process of monitoring, analyzing, and optimizing the net amount of cash receipts minus cash expenses.  We will look at your business and help design a plan to maximize your cash flow. We also have extensive experience in recognizing and dealing with debt concerns. We can aid in planning for tax time and can show you how to effectively allocate your resources to have the best financial outcome.</p>
        </div>

        @*<h2 class="ui-accordion-header ui-corner-top ui-accordion-header-collapsed ui-corner-all ui-state-default ui-accordion-icons" role="tab" id="ui-id-13" aria-controls="ui-id-14" aria-selected="false" aria-expanded="false" tabindex="-1">Sales Tax Returns</h2>
        <div class="ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-14" aria-labelledby="ui-id-13" role="tabpanel" aria-hidden="true" style="display: none;">
            <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
        </div>*@

    </div>

</section>

