<div class="menu">
    <ul>
        <li><a href=#>Home</a></li>
        <li><a href=#>Services</a></li>
        <li><a href=#>Our Team</a></li>
        <li><a href=#>Contact</a></li>
        <li><a href=#>Testimonials</a></li>
    </ul>
</div>
