<div class="menu">
    <ul>
        <li>@Html.ActionLink("Home", "Index")</li>
        <li><a href=#>Services</a></li>
        <li>@Html.ActionLink("Our Team", "OurTeam")</li>
        <li><a href=#>Contact</a></li>
        <li><a href=#>Testimonials</a></li>
    </ul>
</div>
