/*! 
 * Primitive UI | MIT License
 *
 * A minimalist front-end design toolkit built with Sass for developing 
 * responsive, browser-consistent web apps.
 *
 * Author: Tania Rascia <tania@taniarascia.com>
 * Source: https://github.com/taniarascia/primitive
 * Documentation: https://taniarascia.github.io/primitive
 */

//==============================================================================
// Configuration
//==============================================================================

@import "base/variables";
@import "base/mixins";

//==============================================================================
// Reset
//==============================================================================

@import "base/normalize";
@import "base/reset";

//==============================================================================
// Components
//==============================================================================

@import "components/scaffolding";
@import "components/grid"; 
@import "components/helpers";
@import "components/buttons";
@import "components/forms";
@import "components/tables";
@import "components/navigation";
@import "components/layout";

// Font Awesome
@import "font-awesome/scss/fontawesome.scss";
@import "font-awesome/scss/solid.scss";
@import "font-awesome/scss/brands.scss";

.callouts {
    text-align: center;

    h4, i {
        color: $secondary-color;
    }

    i {
        font-size: 4rem;
    }
}

footer {
    background: $alternate-color;
    color: #fff;
    margin-left: -16px;
    margin-right: -16px;
    padding: 16px;
    text-align: center;

    ul {
        padding: 0;
    }

    a:link, footer a:visited, i {
        color: #fff;
    }

    h4 {
        margin-top: 0;
        margin-bottom: .5rem;
    }

    .social {
        margin-bottom: 1rem;
    }

    .copyright {
        p {
            font-size: .75rem;
            margin-bottom: 0;
        }
    }

    i {
        font-size: 1.5rem;
    }
}

@include medium-breakpoint {
    footer {
        margin-left: 0;
        margin-right: 0;
    }
}