/*! 
 * Primitive UI | MIT License
 *
 * A minimalist front-end design toolkit built with Sass for developing 
 * responsive, browser-consistent web apps.
 *
 * Author: Tania Rascia <tania@taniarascia.com>
 * Source: https://github.com/taniarascia/primitive
 * Documentation: https://taniarascia.github.io/primitive
 */

//==============================================================================
// Configuration
//==============================================================================

@import "base/variables";
@import "base/mixins";

//==============================================================================
// Reset
//==============================================================================

@import "base/normalize";
@import "base/reset";

//==============================================================================
// Components
//==============================================================================

@import "components/scaffolding";
@import "components/grid"; 
@import "components/helpers";
@import "components/buttons";
@import "components/forms";
@import "components/tables";
@import "components/navigation";
@import "components/layout";

// Font Awesome
@import "font-awesome/scss/fontawesome.scss";
@import "font-awesome/scss/solid.scss";
@import "font-awesome/scss/brands.scss";

main {
    margin-top: 30px;
    padding: 0;

    section.home {
        background: url('../images/accounting.jpg');
        height: 400px;
        margin-bottom: 30px;

        h1 {
            color: #fff;
            background: rgba(0, 0, 0, .5);
            padding: 15px;
        }
    }

    .callouts {
        display: flex;
        flex-direction: column;

        div {
            flex: 0 1 33%;
            /*padding: 0 16px;*/
        }
    }
}

.callouts {
    text-align: center;

    h4, i {
        color: $secondary-color;
    }

    i {
        font-size: 4rem;
    }
}

.bio {
    border-bottom: 1px solid #cecece;
    padding-bottom: 2em;
    margin-bottom: 32px;

    .image {
        margin: 0 auto;
        width: 50%;
    }
}

.bio:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

footer {
    background: $alternate-color;
    color: #fff;
    margin-left: -16px;
    margin-right: -16px;
    padding: 16px;
    text-align: center;

    ul {
        padding: 0;
    }

    a:link, footer a:visited, i {
        color: #fff;
    }

    h4 {
        margin-top: 0;
        margin-bottom: .5rem;
    }

    .social {
        margin-bottom: 1rem;
    }

    .copyright {
        p {
            font-size: .75rem;
            margin-bottom: 0;
        }
    }

    i {
        font-size: 1.5rem;
    }
}

@include small-breakpoint {
    main {

        .callouts {
            flex-direction: row;

            div {
                padding: 0 16px;
            }
        }

        .bio {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-areas: "img content";
            grid-column-gap: 30px;
            margin-bottom: 2em;

            h3 {
                margin-top: 0;
            }

            .image {
                grid-area: img;
                width: 100%;
            }

            .content {
                grid-area: content;
            }
        }

        .bio.reverse {
            grid-template-columns: 3fr 1fr;
            grid-template-areas: "content img";
        }
    }
}

@include medium-breakpoint {
    main {
        margin-top: 0;
        padding: 0 16px;

        section.home {
            display: flex;
            justify-content: flex-end;
            text-align: center;

            h1 {
                align-self: center;
                background: rgba(0, 0, 0, .25);
                border-radius: 10px;
                margin-right: 13%;
                width: 325px;
            }
        }
    }

    footer {
        margin-left: 0;
        margin-right: 0;
    }
}